server:
  port: 11451
spring:
#  jackson:
#    serialization:
#      write-dates-as-timestamps: true
  http:
    encoding:
      force: true
      charset: utf-8
      enabled: true
  datasource:
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/shares?useSSL=false&serverTimezone=CTT&useUnicode=true&characterEncoding=UTF-8
#  redis:
#    host: 192.168.1.120
#    port: 6379
#    database: 0
  #    password: 123456
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
      location: ${user.dir}

mybatis-plus:
  mapper-locations: classpath:mybatis/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0




